In [1]:
# Importing important Libraries

import pandas as pd
import numpy as np

In [2]:
# Loading dataset and printing first 5 column.

df = pd.read_csv("IRIS.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# checking whether null value available or not.

df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [4]:
# checking the dataset shape (rows and columns). 

df.shape

(150, 5)

In [5]:
# Checking the different category value available in species.

df.species.value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: species, dtype: int64

In [6]:
# Importing LabelEncoder from sklearn and converting output from categorical to binary form.

from sklearn.preprocessing import LabelEncoder

In [7]:
labelencoder = LabelEncoder()

In [8]:
df.species = labelencoder.fit_transform(df.species)

In [9]:
# Printing Dataset

df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [10]:
# Separating X (features) and y (labels) then printing Features.

X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [11]:
# Printing Label (y).

y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [12]:
# Importing 'train_test_split' from sklearn so we can split dataset in train and test part.

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 0)

In [13]:
# Importing LogisticRegression from sklearn and creating a variable.

from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='newton-cg', multi_class = 'multinomial')

In [14]:
# Fitting model.

model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [15]:
# Predicting the model on test dataset.

y_pred = model.predict(X_test)

In [16]:
# Importing confusion matrix and accuracy score. then predicting on test data.

from sklearn.metrics import confusion_matrix,accuracy_score
cf = confusion_matrix(y_test,y_pred)
cf

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  6]])

In [17]:
# checking the accuracy score.

accuracy_score(y_test,y_pred)

1.0