In [13]:
# Importing important Libraries:-

import pandas as pd
import numpy as np

In [14]:
# Loading dataset.

df = pd.read_csv('HousePriceIndia.csv')
df.head()

  POSTED_BY  UNDER_CONSTRUCTION  ...   LATITUDE  TARGET(PRICE_IN_LACS)
0     Owner                   0  ...  77.597960                   55.0
1    Dealer                   0  ...  76.644605                   51.0
2     Owner                   0  ...  77.632191                   43.0
3     Owner                   0  ...  77.344500                   62.5
4    Dealer                   1  ...  88.484911                   60.5

[5 rows x 12 columns]

In [15]:
# checking the null value

df.isnull().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 1
TARGET(PRICE_IN_LACS)    1
dtype: int64

In [20]:
# Filling null value in dataset using mean method.

df.fillna(df.mean(), inplace=True)

In [21]:
# checking correlation between features column and output

df.corr()

                       UNDER_CONSTRUCTION  ...  TARGET(PRICE_IN_LACS)
UNDER_CONSTRUCTION               1.000000  ...               0.062442
RERA                             0.372556  ...               0.080991
BHK_NO.                         -0.043790  ...               0.103318
SQUARE_FT                       -0.005800  ...               0.502324
READY_TO_MOVE                   -1.000000  ...              -0.062442
RESALE                          -0.350638  ...              -0.212616
LONGITUDE                        0.002753  ...              -0.042071
LATITUDE                        -0.004044  ...              -0.018437
TARGET(PRICE_IN_LACS)            0.062442  ...               1.000000

[9 rows x 9 columns]

In [22]:
# Creating a new dataset and importing important columns on it then separating it with X (features) and printing it.

Important_features = df[['UNDER_CONSTRUCTION','RERA','SQUARE_FT']]

X = Important_features
X

       UNDER_CONSTRUCTION  RERA    SQUARE_FT
0                       0     0  1300.236407
1                       0     0  1275.000000
2                       0     0   933.159722
3                       0     1   929.921143
4                       1     0   999.009247
...                   ...   ...          ...
12458                   0     1  1345.154387
12459                   1     0   425.019031
12460                   0     0  8723.404255
12461                   0     0   560.014934
12462                   0     0  1000.000000

[12463 rows x 3 columns]

In [23]:
# Separating y (label) and printing it.

y = df['TARGET(PRICE_IN_LACS)']
y

0         55.000000
1         51.000000
2         43.000000
3         62.500000
4         60.500000
            ...
12458     88.000000
12459     67.000000
12460     41.000000
12461     60.000000
12462    147.767281
Name: TARGET(PRICE_IN_LACS), Length: 12463, dtype: float64

In [24]:
# Importing 'train_test_split' from sklearn library using sklearn and spliting the data in training and testing part.

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [26]:
# Importing 'RandomForestRegressor'  from 'Ensemble' module using sklearn.

from sklearn.ensemble import RandomForestRegressor

In [46]:
# Creating a class with the name of Model and then passing how many tree we want to use in this algorithm.

model = RandomForestRegressor(n_estimators=50)

In [47]:
# Fitting our model on training dataset.

model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=50, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [48]:
# checking the accuracy level of Model.

model.score(X_test, y_test)

0.8472767383055042