***Task 6**

**Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)**

**--> Adding element in tuple:-**

In [17]:
# First we need to convert this tuple with list because we cannot make change in tuple.So here converted into list.
tup = ('apple','mango','banana',25,45)
lst = list(tup)
print(type(lst))

<class 'list'>

In [20]:
# Now we can make changes in list and add items in that.
lst[2] = "orange"
print(lst)

['apple', 'mango', 'orange', 25, 45]

In [22]:
# So, if it get change in list now we have to change it on tuple again so it can show the changed tuple with added item.
tup = tuple(lst)
print("So, here's the result below: ")
print(tup)

So, here's the result below:
('apple', 'mango', 'orange', 25, 45)

**--> Remove elemnt from tuple:-**

In [23]:
# First we have to declare tuple and then we need to do same thing convert tuple in list so we can make changes here.
tuple_example = ('rohit','ashish','deb','mohit','priya','nisha')
list_convert = list(tuple_example)
print(type(list_convert))

<class 'list'>

In [24]:
# Now we can make changes in this converted list like remove elemnts from here.
list_convert.remove('rohit')
print(list_convert)

['ashish', 'deb', 'mohit', 'priya', 'nisha']

In [25]:
# As you can see the element removed from this list Now we can convert this list in tuple. So, we can get output of remove tuple.
tuple_example = tuple(list_convert)
print(tuple_example)

('ashish', 'deb', 'mohit', 'priya', 'nisha')