
***Task 10: Go through:-**

**- reduce()**

**- zip()**

**- enumerate()**

In [6]:
from functools import reduce

# reduce() function - It basically use for reduce a sequence of elements in one value with the help of mathematical operation you want. It returns a single value.



lst = [20,30,40,50]

result = reduce(lambda n,y: n+y, (lst))
print(result)

140

In [17]:
# zip() function - It takes parameter from different available (list,tuple or set) and merge them into a single list. As you can see the example below:- 

name = ['mohit','ansh','kapil','robert']
standard = ['first','fourth','second','fifth']
pay_scale = [50000,45000,25000,30000]

x = zip(name,standard,pay_scale)
print(list(x))

[('mohit', 'first', 50000), ('ansh', 'fourth', 45000), ('kapil', 'second', 25000), ('robert', 'fifth', 30000)]

In [36]:
# numerate() function - It adds a counter to parameter and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method. 

data = ["name","religion","country"]
additional_data = "mohit"
 
# here we have create enumerate objects
a = enumerate(data)
b = enumerate(additional_data)
 
print ("Return type:",type(a))
print (list(enumerate(data)))
 
# and here we have start index to 3 from 0
print (list(enumerate(additional_data,2)))

Return type: <class 'enumerate'>
[(0, 'name'), (1, 'religion'), (2, 'country')]
[(2, 'm'), (3, 'o'), (4, 'h'), (5, 'i'), (6, 't')]