***Task7** 
- **Go through other inbuilt methods like -**
**(1)difference() 2) symmetric_difference()*

In [ ]:
# difference() function or method  - It'll give the result as a difference value which not present in statement. 

a = {'priya','nisha','aisha','monika'}
b = {'mohit','him','ash','kaj','priya'}
l=b.difference(a)
print(l)

{'ash', 'mohit', 'him', 'kaj'}

In [ ]:
# symmetric_difference() method - It'll returns a set with the symmetric differences of two sets.
set1 = {25,30,35,40,45,50}
set2 = {65,25,32,66,90,45}

set3 = set1.symmetric_difference(set2)
print(set3)

{65, 66, 90, 30, 32, 35, 40, 50}

In [ ]:
# isdisjoint() - It represents whether another set contains this set element or not.
s = {'a','g','h','i'}
g = {'l','d','y','h','m'}

r = s.isdisjoint(g)
print(r)

False

***Task 8**

**Make a table of all the In-built data structures and Point out the differences one by one -**

*** There are four types of In-built data structues in Python -**

**1) List Data Structure**

In [2]:
# In 'List' there are numbers of data types can be store also which can be change according to sitaution. Also, it start and end from Square Brackets.

lst = ['apple', 'banana', 25, True]
print(lst)
print(type(lst))

['apple', 'banana', 25, True]
<class 'list'>

**2) Dictionary Data Structure**

In [3]:
# In 'Dictionary' it always contains elements in 'key', 'value' pair. Also, it start from flower bracket or we can say curve bracket.

dict = {'name':'mohit','standard':'Intermediate','Level':'A'}
print(dict)
print(type(dict))

{'name': 'mohit', 'standard': 'Intermediate', 'Level': 'A'}
<class 'dict'>

**3) Tuple Data Structure**

In [5]:
# In 'Tuple' data structure it can contains element in different data types also the value available in Tuple it cannot be change and it start and end from round bracket.

tup = ('app','bans',6.5,False)
print(tup)
print(type(tup))

('app', 'bans', 6.5, False)
<class 'tuple'>

**4) Sets Data Structure**

In [7]:
# In 'Sets' data structure it always start and end from Flower or curve bracket also it contains different data types.

sts = {'abc','cdf',9.5,True}
print(sts)
print(type(sts))

{'cdf', 'abc', 9.5, True}
<class 'set'>