***Task 9**

**> Ask 2 numbers from users and store it in num1 and num2**

**> Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division**

**> based on number given by user do the math operation**

In [4]:

num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))

user_input = int(input("What you want to Select from 1 to 4? :"))

if(user_input == 1):
  num3 = num1 + num2
  print("Result is: ", num3)

elif(user_input == 2):
  num3 = num1 - num2
  print("Result is: ", num3)

elif(user_input == 3):
  num3 = num1 * num2
  print("Result is: ", num3)

elif(user_input == 4):
  num3 = num1 // num2
  print("Result is: ", num3)


else:
  print("You made a wrong selection!")

Enter First Number: 5
Enter Second Number: 2
What you want to Select from 1 to 4? :1
Result is:  7