***Task- 3.1**

**Go through other inbuilt methods like remove(), clear(), sort(), reverse()**

In [ ]:
#  remove() - It'll remove the given element from the list

list = ["mohit","verma",23,True]
list.remove(True)
print(list)

['mohit', 'verma', 23]

In [ ]:
#  clear() - It'll empty the list

list.clear()
print('Result is :',list)

Result is : []

In [ ]:
# sort() - It'll convert the element in ascending order

b = [5,85,65,35,45,75]
b.sort()
print(b)

[5, 35, 45, 65, 75, 85]

In [ ]:
# reverse() - It'll reverse the list
p = ['i','h','g','f','e','d','c','b','a']
p.reverse()
print(p)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [ ]:
# len() - It'll provide the length of elements in list

a = ['mohit','student','delhi']
print(len(a))

3

***Task 3.2**

**Create a list of length = 10 and access 5th to 8th data.**

In [ ]:
k = ['mango','banana','apple','guava','grapes','watermelon','orange','papaya','pineapple','cherry']
print(k[4:-2])

['grapes', 'watermelon', 'orange', 'papaya']

***Task 4**

**Add item 70 after 60 in the following Python List --> list = [10, 20, [30, 40, [50, 60], 80], 90, 100]**

In [9]:
list = [10,20,[30,40,[50,60],80],90,100]
list[2][2].append(70)
print(list)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

***Add sublist [7,8] after 6 -->  lst = [1,2,[3,4,5,6],9]**

In [28]:
lst = [1,2,[3,4,5,6],9]
lst[2].append([7,8])
print(lst)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]