In [ ]:
# importing libraries

import pandas as pd
import numpy as np

In [ ]:
# loading dataset 

df = pd.read_csv('/california_housing_train.csv')
df

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
# checking if null value available or not

df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
# checking types of data available

df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
# Separating features and label. then printing fetures

X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X

       longitude  latitude  ...  households  median_income
0        -114.31     34.19  ...       472.0         1.4936
1        -114.47     34.40  ...       463.0         1.8200
2        -114.56     33.69  ...       117.0         1.6509
3        -114.57     33.64  ...       226.0         3.1917
4        -114.57     33.57  ...       262.0         1.9250
...          ...       ...  ...         ...            ...
16995    -124.26     40.58  ...       369.0         2.3571
16996    -124.27     40.69  ...       465.0         2.5179
16997    -124.30     41.84  ...       456.0         3.0313
16998    -124.30     41.80  ...       478.0         1.9797
16999    -124.35     40.54  ...       270.0         3.0147

[17000 rows x 8 columns]

In [ ]:
# printing label
y

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [ ]:
X.shape

(17000, 8)

In [ ]:
y.shape

(17000,)

In [ ]:
# Importing train test and spliting data on it

from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
regressor = LinearRegression()

In [ ]:
# fitting model with regressor

regressor.fit(X_train, y_train)

ValueError: ignored